<div class="container">
    <app-formulario (parametrosSeleccionados)="buscarNoticias($event)"></app-formulario>
</div>

<div class="row row-cols-1 row-cols-md-3" style="font-family: Kanit">
    <div *ngFor="let noticia of listNoticiasArray" class="col mb-4">
        <div class="card">
            <img [src]="noticia.urlToImage || 'https://guwahatiplus.com/public/web/images/default-news.png'" class="card-img-top" alt="..." style="height:250px">
            <div class="card-body">
                <span class="badge bg-warning text-white mb-1">{{ noticia.source.name }}</span>
                <p class="card-text text-warning"><b>FECHA DE PUBLICACIÓN: </b> {{noticia.publishedAt | date:'dd/MM/yyyy'}}</p>
                <h5 class="card-title">{{ noticia.title }}</h5>
                <p class="card-text">{{noticia.descrption}}</p>
                <a [href]="noticia.url" target="_blank">Ver mas...</a>
            </div>
        </div>
    </div>
</div>